<div th:fragment = "footer">
    <footer class="footer fixed-bottom">

        <p class="m-0 text-center text-muted">

            <a href="https://vk.com/vladdd183" class="mastfoot" style="text-decoration: none;
                                                                            height: 100%;
                                                                            display: table;
                                                                            background-color: #40E0D0;
                                                                            width: 100%;
                                                                            color: #fff;
                                                                            padding-bottom: 1rem!important;
                                                                            padding-top: 1rem!important;
                                                                            margin-top: auto!important;">Связаться с разработчиком</a>
            </div>
        </p>
    </footer>
</div>
